<h1>PayNow</h1>
<h3>Boas vindas ao sistema de gestão de pagamentos</h3>
<%= link_to "Empresas", companies_path%>
<%= link_to "Formas de Pagamento", payments_path%>
<%= link_to "Ver todas as cobranças", charges_path%>
<%# parei em 1.05.34%>